[Unit]
Description=Pi 5 Headless Power Monitor
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/home/pi5/Documents/docker-composes/home-mesh/venv/bin/python /home/pi5/Documents/docker-composes/home-mesh/Pi5/power_monitor.py
Restart=on-failure
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
