[Unit]
Description=Pi 4 LCD Stats & Power Monitor
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/home/pi4/Documents/docker-composes/home-mesh/venv/bin/python /home/pi4/Documents/docker-composes/home-mesh/Pi4LCD/power_monitor.py
Restart=on-failure
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
